<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<html>
<div th:insert="parts/header :: head"></div>
<!-- --------------------------------------------------------------- -->
<body>
<header th:insert="parts/menu :: navbar"></header>

<h3 class="text-center lh-base p-4 mt-5">Реестр задолжников</h3>

<div class="container">
    <table class="table table-bordered">
        <tr>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Пол</th>
            <th>День рождения</th>
            <th>Эл.почта</th>
            <th></th>
        </tr>
        <tr th:each="item : ${clients}">
            <td th:text="${item.person.lastName}"></td>
            <td th:text="${item.person.firstName}"></td>
            <td th:text="${item.person.middleName}"></td>
            <td th:text="${item.person.genderType}"></td>
            <td th:text="${item.person.birthDate}"></td>
            <td th:text="${item.person.email}"></td>
            <td><a th:href="@{/client/{id}(id=${item.id})}">Подробнее..</a> </td>
        </tr>
    </table>
</div>
<hr>
</main>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
<!-- --------------------------------------------------------------- -->
</html>